<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="burger">
            <button class="button">
                <img src="../static/img/home/burger-menu.svg" alt="Menu Icon"/>
            </button>
        </div>
        <div class="header-text">
            <img src="../static/img/home/vector-1.svg" alt="Clevercase Logo" style="vertical-align: middle;">
            Clevercase
        </div>
        <div>
            <div>
                <button class="button">
                    <img src="../static/img/home/notifications.svg" alt="Bell Icon" style="vertical-align: middle;">
                </button>
                <button class="button">
                    <img src="../static/img/home/profile.svg" alt="Search Icon" style="vertical-align: middle;">
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="add_category">
            <div class="body_text">
                Your categories
            </div>
                <button  class="button_cat" style="padding-left: 0px; margin-left: 6px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" >

                      <path fill-rule="evenodd" clip-rule="evenodd" d="M38.171 7.08355C46.4091 16.0145 45.8476 29.9328 36.9167 38.171C27.9858 46.4091 14.0675 45.8476 5.82927 36.9167C-2.40892 27.9858 -1.84736 14.0675 7.08355 5.82927C16.0145 -2.40892 29.9328 -1.84736 38.171 7.08355ZM7.58284 22.011C7.58284 21.1826 8.25441 20.511 9.08284 20.511H20.7834V8.8116C20.7834 7.98317 21.455 7.3116 22.2834 7.3116C23.1119 7.3116 23.7834 7.98317 23.7834 8.8116V20.511H35.4828C36.3113 20.511 36.9828 21.1826 36.9828 22.011C36.9828 22.8394 36.3113 23.511 35.4828 23.511H23.7834V35.2116C23.7834 36.04 23.1119 36.7116 22.2834 36.7116C21.455 36.7116 20.7834 36.04 20.7834 35.2116V23.511H9.08284C8.25441 23.511 7.58284 22.8394 7.58284 22.011Z" fill="#054E2B"/>
                    </svg>
                </button>
        </div>
        <div class="content-wrapper">
            {% for category in categories %}

            <div class="created_category" style="background-color: {{ category.color_save }};">
              <span id="category_name">{{ category.cat_name }}</span>
              
              <svg id="created_category_line" xmlns="http://www.w3.org/2000/svg" width="260" height="2" viewBox="0 0 260 2" fill="none">
                <path d="M0 1L260 1" stroke="white"/>
              </svg>
              <div class="text-row">
                <span class="left-span">Limit:</span>
                <span class="right-span">{{ category.the_limit }}</span>
              </div>
              <div class="text-row">
                <span class="left-span">Expended:</span>
                <span class="right-span">{{ category.currently_spent }}</span>
              </div>
          
              <!-- Right section for icons -->
              <div id="created_category_btn" style="position: absolute; top: 0; right: 0; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="240" viewBox="0 0 64 240" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 240H28.0001C47.8824 240 64.0001 223.882 64.0001 204L64.0001 36C64.0001 16.1178 47.8824 0 28.0001 0H0L0 240Z" fill-opacity=0.2 fill="#000000" />
                </svg>
                
            </div>
            
                <button class="button_expense" name="button_id" value={{ category.id }} id = {{ category.id }}>
                    <img src="../static/img/home/expenses.svg"  alt="plus" style="cursor: pointer;">
                </button>
                <button class="button_edit">
                    <img src="../static/img/home/edit.svg"  alt="edit" >
                </button>

                </div>
            
            {% endfor %}

          </div>

        
        <div class="content-wrapper">
        
            <div class="form-container" id="colorful-object">
            <form method="post">
                {% csrf_token %}
                
                <div class="input-container">
                    <div class="text_box">Name of category</div>
                    {{ form.cat_name }}
                </div>

                <div class="input-container-date" class="input-text">
                    <div class="text_box">Period of tracking</div>
                    {{ form.date_of_rent }} – {{ form.due_date }}
                    <div class="text_box">The limit</div>
                    {{ form.the_limit }}
                    {{ form.currency }}
                </div>

                <div class="text_box">Currently spent</div>
                <div class="input-container-date"  class="input-text" id="spent_text">
                    {{ form.currently_spent }}
                </div>
                
                <div class="text_box">Background color</div>
                <div class="input-container-color">
                    {{ form.color_save }}
                </div>
                <div class="container">
                    <button class="submit-btn" type="submit" value="Create">Save changes</button>
                </div>
                <button class="close-button" formnovalidate>
                    <img src="../static/img/home/close.svg" alt="Close" style="vertical-align: middle; position: absolute;right: 15px;top: 15px;" >
                </button>
             </form>
            </div>
        </div>

        </div>

        
    </main>
    <script src="../static/scripts/script.js"></script>
    <script src="../static/scripts/create_cat.js"></script>
</body>
</html>
