<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/img/ico.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com" as="font" type="font/woff2" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/landing.css">

    <title> Clevercase </title>
</head>

<body>
    <header>
        <!-- Logo -->
        <img src="../static/img/home/logo-with-text.svg" alt="Clevercase Logo" class="desktop-logo" onclick="location.reload(true);">
        <!-- Add account -->
        <div class="add-account-container">
            <img src="../static/img/home/profile.svg" alt="Search Icon" class="add-account">
        </div>
        <!-- Add account pop-up -->
        <a class="add-account-pop-up" href="{% url 'signup' %}">
            <svg viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg" class="add-account-plus">
                <circle cx="30" cy="30" r="30" fill="#E8E8E8"/>
                <path d="M30 12V48" stroke="#054E2B" stroke-width="5" stroke-linecap="round"/>
                <path d="M12 30H48" stroke="#054E2B" stroke-width="5" stroke-linecap="round"/>
            </svg>
            <h1 class="add-account-pop-up-text"> Add account </h1>
        </a>
    </header>
    <main>
        <div class="landing-left">
            <h1 class="main-text"> <span class="simplify"> Simplify </span> your finance management </h1>
            <div class="line"></div>
            <p class="support-text"> using such things as... </p>
        </div>
        <div class="landing-mid">
            <div class="box box-1">
                <p class="box-text"> Regular payment reminders </p>
            </div>
            <div class="box box-2">
                <p class="box-text"> Debt and spendings tracking </p>
            </div>
            <div class="box box-3">
                <p class="box-text"> Custom templates </p>
            </div>
            <div class="box box-4">
                <p class="box-text"> Intuitive analytics </p>
            </div>
            <div class="box box-5">
                <p class="box-text"> Personal and family budgeting </p>
            </div>
        </div>
        <div class="landing-right">
            <div class="box-side box-1-side"></div>
            <div class="box-side box-2-side"></div>
            <div class="box-side box-3-side"></div>
            <div class="box-side box-4-side"></div>
            <div class="box-side box-5-side"></div>
        </div>
    </main>
    <script src="../static/scripts/script.js"></script>
</body>
</html>